body {
  background-color: #E6ECF5;
}

#NavBar {
  background-color: #6A7DA4;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 80px;
  display:flex;
  flex-direction: column;
  gap: 40px;
}

#NavBar img {
  height: 60px;
}

#icon {
  background-color: #667798;
  padding: 5px 0;
}